body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    background-image: url(Emergency.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px);
    margin: 50px;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 42px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    color: red;
}

.subheader {
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 40px 60px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 28%;
    min-width: 280px;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
}

.card h2 {
    margin-top: 0;
    font-size: 26px;
}

.card p {
    line-height: 1.6;
    font-size: 18px;
}
div h3 {
    color: red;
}